
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	background-color: #ffa500;
}

li {
	list-style: none;
	margin-right: 5px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

nav {
	border-bottom: 1px solid #ff6600;
}

.main-nav {
	display: flex;
	align-items: baseline;
	/*justify-content: space-around;*/
	height: 60px;
}


.main-nav li:first-child {
	margin-right: auto;
	/*justify-content: flex-end;*/
	font-size: 36px;
}

.menu {
	font-size: 24px;
	/*justify-content: flex-end;*/
}

.main {
	background-color: #CCC;
	flex: 1;
	display: flex;
	/*flex-flow: column nowrap;*/
	justify-content: center;
	align-items: center;
	/*width: 300px;*/
	/*margin: 0 auto;*/
}

form {
	margin: 10px;
	/*background-color: red;*/
	/*width: 600px;*/
}

.submit {
	margin-top: 20px;
	text-align: center;
}
/*form tr {
height: 200px;
background-color: red;
}*/

.input {
	margin-bottom: 10px;
}

footer{
	height: 60px;
	border-top: 1px solid #ff6600;
	background-color: #ffa500;
}

.copyright {
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
	color: #888;
}
